.App{
  padding: 2px;
}
.Flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Inherite{
  display: inherit;
}

.Inherite button{
  margin-right: 5px;
}

.None{
  display: none;
}